// Custom styles.
.posts-expand .post-title-link {
  
  &:hover {
    color: $black-deep 

    
  }
  &::before {
    background-color: $blue-bright;
    bottom: -5px;
    left: 0px;
  }
}


.feed-link {
  margin-top: 20px;
  a {  
    color:  $blue-bright;
    border: 1px solid  $blue-bright;
    i {
      color: $blue-bright;
    }

    &:hover {
      color:white;
      background:  $blue-bright;

      i { color: white; }
    }
  }
}

.post-more-link {

  .btn:hover {
    border: 2px solid  $blue-bright;
  }
}