$blue-bright                  = #008FF5
$brand-bg                     = $blue-bright
$headband-bg                    = $blue-bright
$link-decoration-hover-color  = $blue-bright
$link-hover-color             = $blue-bright
$site-subtitle-color            = $blue-bright
$btn-default-hover-bg         = $blue-bright
$sidebar-nav-hover-color          = $blue-bright
$sidebar-highlight                = $blue-bright
$toc-link-active-color                = $sidebar-highlight
$toc-link-active-border-color         = $sidebar-highlight
$toc-link-active-current-color        = $sidebar-highlight
$toc-link-active-current-border-color = $sidebar-highlight

$b2t-bg-color                 = $blue